*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(
    to left top,
    #ea98da,
    #d788df,
    #bc7be7,
    #9772f0,
    #5b6cf9
  );
}
